@import url("https://fonts.googleapis.com/css?family=DM+Sans");

* {
  font-family: "DM sans", sans serif;
  margin: 0;
  border: 0;
}

body {
  --blue: #2295fa;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

section {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
/* 
section:nth-child(even) {
  background-color: lightgray;
} */

form {
  display: flex;
  flex-direction: column;
}

h1 {
  margin-bottom: 10px;
}

form input {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0px;
}

button {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid lightgray;
  background-color: var(--blue);
  color: white;
  align-self: flex-start;
}

#course {
  display: flex;
}

.left-side {
  border-right: 1px solid lightgray;
}

.left-side__progress {
}

.left-side__section {
}
